<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
      <a target="_blank" title="Estadísticas en bicing" href="http://www.gestion-personal.com/bicing">
          <img style="margin-top: 1px; margin-bottom: 10px;" src="http://www.gestion-personal.com/bicing/images/logo-bicinggp.png" width="157" height="52" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav" id="header-nav">
              <li><a title="Estaciones de bicing" href="/stations">Estaciones</a></li>
          </ul>
      </div>
  </nav>
</div>

