<div id="footer">
  <div>
      <div>
        BicingGP © 2012-2024 ~ Barcelona, España
      </div>
      <div>
        <span class="m-1">
          Modelo de capa de presentación <a [routerLink]="[LinkAngular]">en Angular</a> para el desarrollo de un robot para estádisticas del servicio Bicing
        </span>
      </div>
      <div class="m-1">
          <!--Visita mi perfil de <a title="Desarrollador BicingGP" [routerLink]="[LinkGpDesarrollador]" class="last">Desarrollador</a> para ayudarte a crear tu propio robot.-->
          <a title="Desarrollador BicingGP" [routerLink]="[LinkGpDesarrollador]" class="last">Desarrollador</a> | <a href="https://github.com/CristianMonzon/bicinggp">GitHub Bicing GP</a>
      </div>
      <div>
        Visita mi proyecto de estadísticas de <a target="_blank" href="http://www.gestion-personal.com/bicing">Bicing GP</a> Barcelona
      </div>
  </div>
</div>
